@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body > * {
    padding: 0px 200px;
}

.navbar {
    background-color: #1F2937;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
}
h1 {
    margin-right: auto;
}

.top {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: #ffffff;
    padding: 50px 200px;
    gap: 50px;
    align-items: stretch;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
h2 {
    margin: 0;
}
button {
    max-width: fit-content;
}

.img {
    background-color: #686464;
    flex-basis: 600px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    text-align: center;
    margin: 10px;
}
.mid {
    display: flex;
    gap: 10px
}
.randominfo {
    display: flex;
    flex-direction: column;
    
}
.randominfo div {
    flex-basis: 100px;
    background-color:yellowgreen;
    /* Where is border */
    border-radius: 10%;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    padding: 100px 250px;
    gap: 10px
}
.quote p {
    font-size: 36px;
    font-weight: 10;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}
.quote h3{
    align-self: flex-end;
    margin: 0;
}

.action {
    display: flex;
    background-color: #3882f6;
    align-items: center;
    justify-content: space-around;
    margin: 60px 190px;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #ffffff;

}
